body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(30, 38%, 92%);
}

main {
  width: 320px;
  padding: 20px;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}

.fraunces-h2,
.new-price {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 28px;
  color: hsl(212, 21%, 14%);
}

.new-price {
  color: hsl(158, 36%, 37%);
}

.montserrat-perfume,
.old-price {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 3px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.old-price {
  font-size: 10px;
  /* border: 2px solid white; */
  text-decoration: line-through;
  margin: 15px;
  vertical-align: super;
}
.montserrat-flora {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  word-spacing: 1px;
  color: hsl(228, 12%, 48%);
}
.mobile-image {
  width: 320px;
}

.image {
  border: 2px solid white;
  padding: 0px;
}

.description {
  border: 2px solid white;
  background-color: hsl(0, 0%, 100%);
  padding-inline: 15px;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Space between icon and text */
  transition: background 0.3s ease;
  width: 280px;
  margin: 10px;
  margin-bottom: 20px;
}

.button-text {
  /* border: 2px solid white; */
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  word-spacing: 1px;
}

button:hover {
  background-color: hsl(158, 79%, 20%);
}

.desktop-image {
  display: none;
}

@media (min-width: 418px) {
  /*Styles for larger screens */
  main {
    width: 600px;
    padding: 0px;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: flex;
    width: 300px;
    border-radius: 5px;
  }

  .description {
    padding: 30px;
    padding-bottom: 10px;
  }

  .fraunces-h2 {
    font-size: 35px;
    /* border: 2px solid black;*/
    line-height: 35px;
    width: 250px;
  }

  .montserrat-flora {
    line-height: 25px;
    width: 290px;
    font-size: 15px;
  }

  .new-price {
    /* border: 2px solid black; */
    height: 40px;
    margin-bottom: 400px;
  }
}

footer {
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
